.dialog {
  color: red;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

.dialog-wrapper {
  position: relative;
  width: 500px;
  height: 800px;
  top: 50px;
  margin: auto auto;
  background-color: white;
}
